.InteractiveMapApp {
  &.zoom-200,
  &.zoom-175,
  &.zoom-150 {
    h1 {
      font-size: 14px !important;
    }
    p {
      font-size: 9px;
    }
    #sidebar {
      &.active {
        max-width: 30vw !important;
        height: 100px !important;
        .logo {
          max-width: 200px !important;
          max-height: 100px !important;
          width: auto !important;
        }
      }
    }
  }
  #sidebar {
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 0px;
    width: 900px;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      331deg,
      rgba(2, 0, 36, 0) 50%,
      rgba(32, 40, 91, 1) 96%
    );
    height: 70vh;
    z-index: 3;
    &.white-bg {
      left: 60px;
      top: 60px;
      width: 500px;
      height: auto;
      background: rgba(255, 255, 255, 0.9);
      padding: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 5px;
      box-shadow: 0px 0px 40px 0px rgba(17, 22, 49, 0.5);
      margin-bottom: 20px;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      @media all and (max-width: 1000px) {
        max-width: 100% !important;
        width: 90vw;
        left: 5vw;
        height: 130px;
        top: 20px;
      }
      &.top {
        top: 40px;
        width: 30%;
        left: 35%;
        height: 140px;
        .logo {
          max-width: 320px;
        }
        &.is-zoomed {
          top: 40px;
          width: 20%;
          left: 40%;
          height: 140px;
        }
      }
      .logo {
        max-width: 90%;
        margin: 10px auto 0px;
        width: 90%;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        @media all and (max-width: 1000px) {
          max-width: 200px !important;
          width: 100%;
        }
      }
      &.is-zoomed {
        width: 400px;
        background: rgba(255, 255, 255, 0.9);
        height: auto;
        @media all and (max-width: 900px) {
          width: 70vw;
          height: 100px;
          left: 15vw;
          top: 20px;
        }
      }
    }
    .divider {
      height: 2px;
      width: 25%;
      background: #20285b;
      margin: 20px auto;
    }
    .logo-text {
      font-family: NeutraBook;
      font-size: 18px;
      color: #20285b !important;
      line-height: 1.4;
      margin: 0px auto 0px;
      max-width: 100%;
      span {
        font-family: NeutraBold;
      }
    }
    h1 {
      margin-left: 20px;
      margin-top: 40px;
      font-size: 4.4rem;
      text-shadow: #20285b 0px 0px 20px;
      line-height: 100%;
    }
    .logo {
      max-width: 60%;
      margin-top: 40px;
      @media all and (max-width: 1000px) {
        max-width: 40%;
      }
    }
    @media all and (max-width: 1000px) {
      // display: none;
      width: 0vw;
      &.active {
        // width: 100vw;
        padding: 20px;
        z-index: 4;
      }
      h1 {
        font-size: 2rem;
      }
    }
  }
  #sidebarControl {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    background: #20285b;
    padding: 8px;
    @media all and (max-width: 1000px) {
      // display: block;
    }
    p {
      margin: 0px;
    }
  }
}
