// Load component CSS
@use "./components/Map/_map.scss";
@use "./components/Ships/_ships.scss";
@use "./components/Sidebar/_sidebar.scss";

@font-face {
  font-family: "NeutraBold";
  src: local("NeutraBold"), url(./fonts/Neutra2Display-Bold.woff) format("woff");
}

@font-face {
  font-family: "NeutraBook";
  src: local("NeutraBook"), url(./fonts/Neutra2Text_book.woff) format("woff");
}

.InteractiveMapApp {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  img {
    max-width: 100%;
  }

  * {
    font-family: NeutraBold;
  }

  b {
    font-family: NeutraBold;
  }

  h1 {
    color: #fff !important;
    text-transform: uppercase;
    font-family: NeutraBold;
    font-size: 1.6rem;
  }

  p {
    // color: #ffffff !important;
    font-size: 1rem;
  }

  .content {
    p {
      cursor: pointer;
    }
  }
}
